<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_URI} !^/pub/
	RewriteCond %{REQUEST_URI} !^/setup/
	RewriteCond %{REQUEST_URI} !^/update/
	RewriteCond %{REQUEST_URI} !^/dev/
	RewriteRule .* /pub/$0 [L]
</IfModule>
<IfVersion < 2.4>
	order allow,deny
	deny from all
</IfVersion>
<IfVersion >= 2.4>
	Require all denied
</IfVersion>
